.style0 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjiuxibgm.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1200px;
  height: 610px;
  flex-direction: column
}
.style1 {
  margin-left: 384px;
  margin-top: 48px;
  width: 441px;
  height: 163px
}
.style7 {
  color: #ff0;
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  margin-left: 485px;
  margin-top: 82px;
  height: 24px
}
.TPIENERGYMLOGINcopy2image0row2 {
  display: flex;
  margin-left: 485px;
  margin-top: 14px;
  width: 354px;
  height: 28px;
  align-items: center
}
.style3 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  text-indent: 9px;
  margin-left: 0;
  width: 151px;
  height: 100%
}
.TPIENERGYMLOGINcopy2image0row2checkbox0 {
  margin-left: 12px;
  width: 12px;
  height: 12px
}
.style2,
.style8 {
  color: #ff0;
  font-family: BalsamiqSans,serif
}
.style2 {
  margin-left: 5px;
  font-size: .75em;
  height: 13px
}
.style8 {
  font-size: 1.1875em;
  margin-top: 23px;
  height: 24px
}
.style5,
.style8,
.style9 {
  margin-left: 485px
}
.style5 {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  text-indent: 9px;
  background-color: #fff;
  margin-top: 14px;
  width: 151px;
  height: 28px
}
.style9 {
  background-color: #ff0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  margin-top: 33px;
  width: 143px;
  height: 21px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style10 {
  font-family: BalsamiqSans,serif;
  font-size: .625em;
  height: 13px
}
.style11,
.style13 {
  display: flex;
  margin-top: 0;
  flex-direction: column
}
.style11 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjiuxibk9.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  margin-left: 0;
  width: 1200px;
  height: 610px
}
.style13 {
  background-color: #000;
  border-left: 1px solid #ff0;
  border-right: 1px solid #ff0;
  border-top: 1px solid #ff0;
  border-bottom: 1px solid #ff0;
  width: 100%;
  height: 122px;
  align-self: stretch
}
.style14 {
  margin-left: 1126px;
  margin-top: 10px;
  width: 67px;
  height: 46px
}
.style15 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.0625em;
  margin-left: 1058px;
  margin-top: 0;
  height: 25px
}
.TPIENERGYMIngresosgraph3Dimage0container0row2 {
  display: flex;
  margin-left: 19px;
  margin-top: 13px;
  width: 1174px;
  height: 25px;
  align-items: stretch
}
.style16,
.style17 {
  color: #ff0;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  margin-left: 0
}
.style17 {
  color: #00000a;
  font-size: 1.0625em;
  margin-left: 759px
}
.TPIENERGYMIngresosgraph3Dimage0row1 {
  display: flex;
  margin-top: 9px;
  width: 1125px;
  height: 144px;
  align-self: flex-end
}
.style19 {
  color: #ff0;
  font-family: BalsamiqSans,serif;
  font-size: 1.1875em;
  margin-left: 0;
  margin-top: 13px;
  height: 24px
}
.TPIENERGYMIngresosgraph3Dimage0row1unsupported0 {
  margin-left: 976px;
  width: 149px;
  height: 100%;
  align-self: stretch
}
.style18 {
  margin-left: 93px;
  margin-top: 0;
  width: 862px;
  height: 390px
}
.style20,
.style22 {
  display: flex;
  margin-top: 0;
  flex-direction: column
}
.style20 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjiuxibrx.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  margin-left: 0;
  align-items: flex-end;
  width: 1200px;
  height: 610px
}
.style22 {
  background-color: #000;
  border-left: 1px solid #ff0;
  border-right: 1px solid #ff0;
  border-top: 1px solid #ff0;
  border-bottom: 1px solid #ff0;
  width: 100%;
  height: 122px
}
.style23 {
  margin-left: 1126px;
  margin-top: 10px;
  width: 67px;
  height: 46px
}
.style24 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.0625em;
  margin-left: 1058px;
  margin-top: 0;
  height: 25px
}
.TPIENERGYMDetalleIngresosSeleccionadoimage0container0row2 {
  display: flex;
  margin-left: 19px;
  margin-top: 13px;
  width: 1174px;
  height: 25px;
  align-items: stretch
}
.style25,
.style26 {
  color: #ff0;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  margin-left: 0
}
.style26 {
  color: #00000a;
  font-size: 1.0625em;
  margin-left: 759px
}
.TPIENERGYMDetalleIngresosSeleccionadoimage0unsupported0 {
  margin-top: 9px;
  width: 149px;
  height: 144px
}
.style27,
.style29 {
  display: flex;
  margin-top: 0;
  flex-direction: column
}
.style27 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjiuxibvr.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  margin-left: 0;
  align-items: flex-end;
  width: 1200px;
  height: 610px
}
.style29 {
  background-color: #000;
  border-left: 1px solid #ff0;
  border-right: 1px solid #ff0;
  border-top: 1px solid #ff0;
  border-bottom: 1px solid #ff0;
  width: 100%;
  height: 122px
}
.style30 {
  margin-left: 1126px;
  margin-top: 10px;
  width: 67px;
  height: 46px
}
.style31 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.0625em;
  margin-left: 1058px;
  margin-top: 0;
  height: 25px
}
.TPIENERGYMLOGINAdminimage0container0row2 {
  display: flex;
  margin-left: 19px;
  margin-top: 13px;
  width: 1174px;
  height: 25px;
  align-items: stretch
}
.style32,
.style33 {
  color: #ff0;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  margin-left: 0
}
.style33 {
  color: #00000a;
  font-size: 1.0625em;
  margin-left: 759px
}
.TPIENERGYMLOGINAdminimage0unsupported0 {
  margin-top: 9px;
  width: 149px;
  height: 74px
}
.style34,
.style36 {
  display: flex;
  margin-top: 0;
  flex-direction: column
}
.style34 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjiuxiby4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  margin-left: 0;
  width: 1200px;
  height: 610px
}
.style36 {
  background-color: #000;
  border-left: 1px solid #ff0;
  border-right: 1px solid #ff0;
  border-top: 1px solid #ff0;
  border-bottom: 1px solid #ff0;
  width: 100%;
  height: 122px;
  align-self: stretch
}
.style37 {
  margin-left: 1126px;
  margin-top: 10px;
  width: 67px;
  height: 46px
}
.style38 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.0625em;
  margin-left: 1058px;
  margin-top: 0;
  height: 25px
}
.TPIENERGYMIngresosgraph2Dimage0container0row2 {
  display: flex;
  margin-left: 19px;
  margin-top: 13px;
  width: 1174px;
  height: 25px;
  align-items: stretch
}
.style39,
.style40,
.style42 {
  color: #ff0;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  margin-left: 0
}
.style40,
.style42 {
  color: #00000a;
  font-size: 1.0625em;
  margin-left: 759px
}
.style42 {
  color: #ff0;
  font-size: 1.1875em;
  margin-left: 79px;
  margin-top: 22px;
  height: 24px
}
.TPIENERGYMIngresosgraph2Dimage0row2 {
  position: relative;
  display: flex;
  margin-top: 0;
  width: 1125px;
  height: 390px;
  align-self: flex-end
}
.style41 {
  position: relative;
  margin-left: 0;
  margin-top: 51px;
  width: 862px;
  height: 390px;
  flex-shrink: 0
}
.TPIENERGYMIngresosgraph2Dimage0row2unsupported0 {
  margin-left: 114px;
  width: 149px;
  height: 144px;
  flex-shrink: 0
}
.style43,
.style45 {
  display: flex;
  margin-top: 0;
  flex-direction: column
}
.style43 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjiuxic4d.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  margin-left: 0;
  align-items: flex-end;
  width: 1200px;
  height: 610px
}
.style45 {
  background-color: #000;
  border-left: 1px solid #ff0;
  border-right: 1px solid #ff0;
  border-top: 1px solid #ff0;
  border-bottom: 1px solid #ff0;
  width: 100%;
  height: 122px
}
.style46 {
  margin-left: 1126px;
  margin-top: 10px;
  width: 67px;
  height: 46px
}
.style47 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.0625em;
  margin-left: 1058px;
  margin-top: 0;
  height: 25px
}
.TPIENERGYMdetalleseleccinasistenciaimage0container0row2 {
  display: flex;
  margin-left: 19px;
  margin-top: 13px;
  width: 1174px;
  height: 25px;
  align-items: stretch
}
.style48,
.style49 {
  color: #ff0;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  margin-left: 0
}
.style49 {
  color: #00000a;
  font-size: 1.0625em;
  margin-left: 759px
}
.TPIENERGYMdetalleseleccinasistenciaimage0unsupported0 {
  margin-top: 9px;
  width: 149px;
  height: 151px
}
.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.style50,
.style52 {
  display: flex;
  margin-top: 0;
  flex-direction: column
}
.style50 {
  background-image: url(https://designresources.assets.yotako.io/40599ujjiuxic7n.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  margin-left: 0;
  width: 1200px;
  height: 610px
}
.style52 {
  background-color: #000;
  border-left: 1px solid #ff0;
  border-right: 1px solid #ff0;
  border-top: 1px solid #ff0;
  border-bottom: 1px solid #ff0;
  width: 100%;
  height: 122px;
  align-self: stretch
}
.style53 {
  margin-left: 1126px;
  margin-top: 10px;
  width: 67px;
  height: 46px
}
.style54 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.0625em;
  margin-left: 1058px;
  margin-top: 0;
  height: 25px
}
.TPIENERGYMdetalleseleccinasistenciatotalimage0container0row2 {
  display: flex;
  margin-left: 19px;
  margin-top: 13px;
  width: 1174px;
  height: 25px;
  align-items: stretch
}
.style55,
.style56,
.style58 {
  color: #ff0;
  font-family: BalsamiqSans,serif;
  font-size: .9375em;
  margin-left: 0
}
.style56,
.style58 {
  color: #00000a;
  font-size: 1.0625em;
  margin-left: 759px
}
.style58 {
  color: #ff0;
  font-size: 1.1875em;
  margin-left: 79px;
  margin-top: 16px;
  height: 24px
}
.TPIENERGYMdetalleseleccinasistenciatotalimage0row2 {
  position: relative;
  display: flex;
  margin-top: 0;
  width: 1125px;
  height: 390px;
  align-self: flex-end
}
.style57 {
  position: relative;
  margin-left: 0;
  margin-top: 51px;
  width: 862px;
  height: 390px;
  flex-shrink: 0
}
.TPIENERGYMdetalleseleccinasistenciatotalimage0row2unsupported0 {
  margin-left: 114px;
  width: 149px;
  height: 151px;
  flex-shrink: 0
}